*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .music-player {
    background: #222;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  .circle:hover {
    background: #ff5555;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 85, 85, 0.5);
  }
  
  .song-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid #333;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
    margin-bottom: 25px;
    transition: all 0.5s ease;
  }
  
  
  .song-img:hover {
    transform: rotate(10deg);
  }
  
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
  }
  
  p {
    font-size: 14px;
    color: #ccc;
  }
  
  
  #progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
  }
  
  #progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ff5555;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    transition: all 0.2s ease;
  }
  

  #progress:hover::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    background: #ff3333;
    box-shadow: 0 0 10px rgba(255, 85, 85, 0.8);
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #222;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  .controls div:nth-child(2) {
    background: #ff5555;
    color: #fff;
    width: 70px;
    height: 70px;
  }
  
  
  .controls div:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .controls div:nth-child(1):hover, 
  .controls div:nth-child(3):hover {
    background: #eee;
    color: #ff5555;
  }
  
 
  .controls div:nth-child(2):hover {
    background: #ff3333;
    box-shadow: 0 0 20px rgba(255, 85, 85, 0.6);
  }
  
 
  .controls div:active {
    transform: scale(0.95);
  }