*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;

}
.container h1 img{
    width: 60px;
}

.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: bold;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.container button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}
.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
